body{
    display: grid;
    background-color: aliceblue;
    font-size: 16px;
    font-family: 'PT Serif', serif;
}

label{
    color: palevioletred;
}

#app{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.headline{
    text-align: center;
    color: palevioletred;
}

.holder{
    display: grid;
    padding: 24px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#zip, #feelings, #generate{
    font-size: 16px;
    margin-top: 10px;
    font-family: 'PT Serif', serif;
}

#generate, #zip{
    height: 36px;
}

#generate{
    background-color: palevioletred;
    color: aliceblue;
}

#content{
    margin-top: 5px;
    font-size: larger;
}

::placeholder {
    color: lightcoral; 
} 